input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
mat-form-field{
    width: 100% ;
    }
    mat-label{
        font-size: 120%;
    }
    ::ng-deep .mat-icon {
        /*cambiar color icono*/
        color: #ffff !important;
       }
        ::ng-deep .mat-form-field-label {
            /*cambiar color label*/
            color: #ffff !important;
           }
          
        ::ng-deep.mat-form-field-underline {
            /*cambiar color de linea inferior*/
            background-color: #2dd36f !important;
          } 
          
        ::ng-deep.mat-form-field-ripple {
           /*cambiar color de linea inferior con focus*/
           background-color: #2dd36f !important;
          }