<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradiante">
  <img src="../../../assets/icon/Hermes.png"  alt="Hermes">
  <div class="container">
  <ion-item mode="md">
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="correo"></ion-input>
  </ion-item>
  
<!--   <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="clave" [type]="hide ? 'password' : 'text'"></ion-input>
    <ion-button ion-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"  color="transparent">
      <ion-icon *ngIf="hide" name="eye-off-outline"></ion-icon>
      <ion-icon *ngIf="!hide" name="eye-outline"></ion-icon>
    </ion-button>
  </ion-item> -->
  <mat-form-field appearance="fill" [color]="warn">
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="clave" >
    <button style="background-color: transparent;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>

<ion-grid>
  <ion-row>
    <ion-col size="0.5">
    </ion-col>
    <ion-col size="11">
      <p [routerLink]="['/recuperar-clave']" class="subrayado">¿He olvidado mi contraseña?</p>
      <ion-button class="ion-margin-bottom" color="primary" expand="block" shape="round" (click)="validaCorreo()">Aceptar</ion-button>
      <ion-button color="medium" expand="block" shape="round" [routerLink]="['/registro']">Registrarse</ion-button></ion-col>
    <ion-col size="0.5">
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>