h1{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
}


h1{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
}




@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}
.container {
    -webkit-animation: scale-in-center 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-center 1s cubic-bezier(.25, .46, .45, .94) both;

}
mat-form-field{
width: 100% ;
}
mat-label{
    font-size: 120%;
}
::ng-deep .mat-icon {
    /*cambiar color icono*/
    color: #ffff !important;
   }
    ::ng-deep .mat-form-field-label {
        /*cambiar color label*/
        color: #ffff !important;
       }
      
    ::ng-deep.mat-form-field-underline {
        /*cambiar color de linea inferior*/
        background-color: #2dd36f !important;
      } 
      
    ::ng-deep.mat-form-field-ripple {
       /*cambiar color de linea inferior con focus*/
       background-color: #2dd36f !important;
      }