<ion-content class="gradiante">
  <div style="text-align: center; margin-top: 2vh;">
    <a [routerLink]="['/cuenta']">
      <img class="imgRedonda" src="../../../assets/profile_.png" alt="">
    </a>
  </div>
  <h1 class="ion-text-center satisfy">Menú de Pasajero</h1>
  <h2 class="ion-text-center satisfy2">Escoja una opción</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="0.5">
      </ion-col>
      <ion-col size="11">
        <ion-button class="ion-margin-bottom ion-margin-top" color="primary" expand="block" shape="round" [routerLink]="['/buscar-viaje']">Buscar Viaje</ion-button>
        <ion-button class="ion-margin-bottom" color="primary" expand="block" shape="round" [routerLink]="['/viaje-pasajero']">Ver/Cancelar Viaje</ion-button>
        <ion-button class="ion-margin-bottom" color="primary" expand="block" shape="round" [routerLink]="['/#']">Chat o whatsapp(placeholder)</ion-button>
      </ion-col>
      <ion-col size="0.5">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>