<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
      <ion-title class="satisfy">Buscar Viaje</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gradiante ion-text-center">

  
  <div class="ion-margin-top">
    <h1 class="satisfy">Buscar Viaje</h1>
    <h2 class="satisfy2">Sede : {{ s }} </h2>
  </div>
  
  <!-- CODIGO CARD -->
  <ion-card color="primary" >
    <img class="imgRedonda" src="../../../assets/profile_.png" alt="">
    <ion-card-header>
      <ion-card-title>Nombre</ion-card-title>
      <ion-card-subtitle>Destino</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precio: <br>
      Asientos: 
    </ion-card-content>
    <ion-row> 
      <ion-col>
      <ion-button class="ion-margin-bottom ion-margin-start ion ion-margin-end" color="medium" expand="block" shape="round" [routerLink]="['/#']">Reservar</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card color="primary" >
    <img class="imgRedonda" src="../../../assets/profile_.png" alt="">
    <ion-card-header>
      <ion-card-title>Nombre</ion-card-title>
      <ion-card-subtitle>Destino</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precio: <br>
      Asientos: 
    </ion-card-content>
    <ion-row> 
      <ion-col>
      <ion-button class="ion-margin-bottom ion-margin-start ion ion-margin-end" color="medium" expand="block" shape="round" [routerLink]="['/#']">Reservar</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card color="primary" >
    <img class="imgRedonda" src="../../../assets/profile_.png" alt="">
    <ion-card-header>
      <ion-card-title>Nombre</ion-card-title>
      <ion-card-subtitle>Destino</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precio: <br>
      Asientos: 
    </ion-card-content>
    <ion-row> 
      <ion-col>
      <ion-button class="ion-margin-bottom ion-margin-start ion ion-margin-end" color="medium" expand="block" shape="round" [routerLink]="['/#']">Reservar</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>

<!-- footer con menu de barra -->
<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="">
      <ion-segment-button value="menuPasajero">
        <ion-icon name="accessibility-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="miCuenta">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="menuConductor">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
