<ion-header>
  <ion-toolbar>
    <ion-title>cambiarClave</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="gradiante ion-text-center">
    <h1>Editar Cuenta</h1>
    <ion-item>
      <ion-label position="floating">Contraseña Actual</ion-label>
      <ion-input type="password" [(ngModel)]="clave"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="claveNew"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Repetir Nueva contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="claveNew2"></ion-input>
    </ion-item>
    <p class="alerta" *ngIf = "msjClave"> {{ msjClave }} </p>
    <ion-grid>
      <ion-row>
        <ion-col size="0.5">
        </ion-col>
        <ion-col size="11">
          <ion-button color="primary" class="ion-margin-bottom" expand="block" shape="round" (click)="validarClave()">Editar</ion-button>
          <ion-button color="medium" class="ion-margin-bottom" expand="block" shape="round">Borrar</ion-button>
        </ion-col>
        <ion-col size="0.5">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
