<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gradiante ion-text-center">
  <div class="ion-margin-top">
    <h1 class="satisfy">Agregar Auto</h1>
  </div>
  <div class="container">
  <ion-item>
    <ion-label position="floating">Marca</ion-label>
    <ion-input [(ngModel)]="marca"></ion-input>
  </ion-item>
  <p class="alerta" *ngIf = "msjMarca"> {{ msjMarca }} </p>
  <ion-item>
    <ion-label position="floating">Modelo</ion-label>
    <ion-input [(ngModel)]="modelo"></ion-input>
  </ion-item>
  <p class="alerta" *ngIf = "msjModelo"> {{ msjModelo }} </p>
  <ion-item>
    <ion-label position="floating">Patente</ion-label>
    <ion-input [(ngModel)]="patente"></ion-input>
  </ion-item>
  <p class="alerta" *ngIf = "msjPatente"> {{ msjPatente }} </p>
</div>
  <ion-grid>
    <ion-row>
      <ion-col size="0.5">
      </ion-col>
      <ion-col size="11">
        <ion-button color="primary" class="ion-margin-bottom" expand="block" shape="round" (click)="validarEdit()">Agregar</ion-button>
        <ion-button color="medium" class="ion-margin-bottom" expand="block" shape="round" (click)="borrar()">Borrar</ion-button>
      </ion-col>
      <ion-col size="0.5">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- footer con menu de barra -->
<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="">
      <ion-segment-button value="menuPasajero">
        <ion-icon name="accessibility-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="miCuenta">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="menuConductor">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>